/**
 * This file defines global constants which can be used in
 * the other configuration files.
 *
 * Managed by Ansible
 */

/* The directory which contains the plugins from the Monitoring Plugins project. */
const PluginDir = "{{ icinga2_plugindir }}"

/* The directory which contains the Manubulon plugins.
 * Check the documentation, chapter "SNMP Manubulon Plugin Check Commands", for details.
 */
const ManubulonPluginDir = "{{ icinga2_plugindir }}"

/* The directory which you use to store additional plugins which ITL provides user contributed command definitions for.
 * Check the documentation, chapter "Plugins Contribution", for details.
 */
const PluginContribDir = "{{ icinga2_plugindir }}"

/* Our local instance name. By default this is the server's hostname as returned by `hostname --fqdn`.
 * This should be the common name from the API certificate.
 */
const NodeName = "{{ ansible_fqdn }}"

/* Our local zone name. */
const ZoneName = NodeName
