/**
 * Zones configuration managed by Ansible
 */

// Parent zone
{% for endpoint in icinga2_parent_endpoints %}
object Endpoint "{{ endpoint.fqdn }}" {
  host = "{{ endpoint.ip }}"
}
{% endfor %}

object Zone "{{ icinga2_parent_zone }}" {
  endpoints = [ {% for endpoint in icinga2_parent_endpoints %} "{{ endpoint.fqdn }}" {% endfor %} ]
}

// Local zone
object Endpoint "{{ ansible_fqdn }}" {
}

object Zone "{{ ansible_fqdn }}" {
  endpoints = ["{{ ansible_fqdn }}"]
  parent = "{{ icinga2_parent_zone }}"
}

// Global zones
object Zone "director-global" {
        global = true
}
